.navbar-custom {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(192,192,192, 0);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
  z-index: 2;
  color: rgba(0, 0, 0, 1);
  -webkit-transition: background .5s;
  transition: background .5s;

}

.navbar.scrolled {
  background-color: rgba(192,192,192, .95);
}

.navbar-custom:hover {
    background: rgba(192,192,192,1)!important;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: black;

  -webkit-transition: color .3s;
  transition: color .3s;
}

.navbar-custom .navbar-brand:hover {
  color: rgba(255,255,255,1)!important;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: rgba(0,0,0,0);

  -webkit-transition: color .3s;
  transition: color .3s;
}

.navbar-custom:hover .navbar-nav .nav-item .nav-link {
     color: rgba(0,0,0,1)!important;
}

.navbar-custom .navbar-nav .nav-item:hover .nav-link {
     color: rgba(255,255,255,1)!important;
}

.navbar-custom .navbar-nav .nav-item .nav-link.scrolled {
  color: rgba(0,0,0,1)!important;
}

.navbar-custom .navbar-nav .nav-item:hover .nav-link.scrolled {
     color: rgba(255,255,255,1)!important;
}